@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/buttons";

@import "styles/variables";

.header {
  display: flex;
  position: fixed;
  background-color: #f3fcf4;
  height: $navbar-height + 20;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
}
.headerWhite {
  background-color: white !important;
  height: $navbar-height;
  box-shadow: 0 0.125rem 0.25rem rgba($green-900, 0.075);
}
.backToHome {
  margin: 3rem 0 0;
}

.focusProvider {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  &.show {
    opacity: 0.5;
  }
}

.mainContent {
  min-height: 100vh;
  margin-top: $navbar-height;
}

/*----------------------- Footer  --------------------------*/

.footer {
  background-color: $green-600;

  & li {
    margin-bottom: 0.5rem;
  }
}

/*----------------------- Category Menu --------------------------*/
.catMenu {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 200px;
  justify-content: center;
  align-items: center;
  overflow: auto;

  .catOption {
    border-radius: 0;

    &:hover {
      z-index: 1000;
    }

    figure {
      margin: 0;
    }

    width: 50%;

    @include media-breakpoint-up(xl) {
      width: 33%;
    }
  }
}

/*----------------------- User Options --------------------------*/

.userActionBasic {
  width: 60px;
  height: $navbar-height;
  border-radius: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-wrap: none;

  &::after {
    display: none !important;
  }
}

.userAction {
  @extend .userActionBasic;
  color: $primary;
  background-color: transparent;
}

.userOptionIcon {
  --fa-primary-color: #198754;
  --fa-secondary-color: #146c43;
}

.userActionActive {
  @extend .userActionBasic;

  .userOptionIcon {
    --fa-primary-color: #ffffff;
    --fa-secondary-color: $green-100;
  }
}


.userOptions {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(md) {
    background-color: white;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    justify-content: center;
    position: fixed;
    z-index: 5;
  }

  .userOptionLabel {
    text-wrap: none;
    font-size: .55rem;
  }

  i {
    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }
  }

  p {
    margin: 0;
    font-weight: bold;
  }

}
