@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";
.text {
  font-size: 15px;
}
.smallText {
  font-size: 12px;
}
.name {
  @extend .text;
  line-height: 30px;
  color: $green-600 !important;
}

.productCard {
  .successIndicator {
    width: 0;
    height: .3rem;
    background-color: $gray-500;
  }
  .successIndicatorActivated {
    background-color: $green-400;
    width: 100%;
  }
  .productImage {
    transition: transform .2s; /* Animation */
  }
  &:hover {
    box-shadow: $box-shadow;
    .productImage{
      transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
  }



}

.cardView {
  height: 24rem !important;
}
.cardViewNoImage {
  height: 13rem;
}

.rial {
  color: $gray-500;
  font-weight: bolder;
  margin-right: 0.25rem;
  @include media-breakpoint-down(sm) {
    font-size: 0.85rem !important;
  }
}