@import "../../public/bootstrap-scss/functions";
@import "../../public/bootstrap-scss/mixins";
@import "../../public/bootstrap-scss/variables";

.title {
  margin-bottom: 2rem;
  color: $green-700;
}

.sectionWrapper {
  padding-left: 24px;
  padding-right: 24px;
}

.section {
  position: relative;
  @include media-breakpoint-down(md) {
    padding-top: 2em;
    padding-bottom: 1em;
  }
  @include media-breakpoint-up(md) {
    padding-top: 4em;
    padding-bottom: 2em;
  }
}

.mini {
  color: $green-600;
  margin-bottom: $spacer;
}

.head {
  color: $green-700;
  margin-bottom: $spacer * 2;
}

.subhead {
  @include media-breakpoint-up(md) {
    font-size: $font-size-lg;
  }
  color: $gray-700;
}

.heroImage {
  width: 100%;
  @include media-breakpoint-up(md) {
    margin-bottom: -100px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}

.imageWrapper {
  position: relative;
  @include media-breakpoint-up(md) {
    max-height: 0;
  }
}

.content {
  margin-bottom: 4rem;
}