

@font-face {
  font-family: silicon;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Silicon-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: sahel;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Sahel-FD.eot');
  src: url('/fonts/Sahel-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/Sahel-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/Sahel-FD.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-display: swap;
}

@font-face {
  font-family: sahel;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Sahel-Bold-FD.eot');
  src: url('/fonts/Sahel-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/Sahel-Bold-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/Sahel-Bold-FD.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-display: swap;
}

@font-face {
  font-family: sahel;
  font-style: normal;
  font-weight: bolder;
  src: url('/fonts/Sahel-Black-FD.eot');
  src: url('/fonts/Sahel-Black-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/Sahel-Black-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/Sahel-Black-FD.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-display: swap;
}

@font-face {
  font-family: sahel;
  font-style: normal;
  font-weight: light;
  src: url('/fonts/Sahel-Light-FD.eot');
  src: url('/fonts/Sahel-Light-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/Sahel-Light-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/Sahel-Light-FD.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-display: swap;
}


@font-face {
  font-family: sahel-farsi-digit;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Sahel-Bold-FD.eot');
  src: url('/fonts/Sahel-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/Sahel-Bold-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/Sahel-Bold-FD.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-display: swap;
}

body {
  font-family: sahel, serif !important;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  margin-bottom: 0;
  font-family: sahel, serif !important;
}
