/*
  * This file should first be compiled to css and then
    be processed by `rtl-css` package to become right-to-left
*/

// Import this file to customize bootstrap colors
@import "./bootstrap-custom";

// Variables
$green-light: #f2f6f6;

// Bootstrap framework
@import "../node_modules/bootstrap/scss/bootstrap";

// This comment is very IMPORTANT. This tell the 'rtl-css' to ignore this lines
/*rtl:begin:ignore*/

// React image gallery for product details page
@import "../node_modules/react-image-gallery/styles/scss/image-gallery.scss";


/*----------------------- Swiper  --------------------------*/
.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 3rem !important;
}

/*----------------------- Body --------------------------*/

body {
  background-color: $green-light !important;
}

a {
  text-decoration: none !important;
  transition: background-color .3s ease-in-out;
}

/*----------------------- Colored shadows to match the theme color --------------------------*/
.shadow {
  box-shadow: 0 0.5rem 1rem rgba($green-900, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba($green-900, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba($green-900, 0.175) !important;
}

/*----------------------- Custom utility classes --------------------------*/
.fasBadge{
  padding: .15rem;
  top: -10px !important;
  right: 5px;
  z-index: 10;
}
.icon-container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-inline-end: .5rem;
}
.container-custom {
  @include media-breakpoint-up(xl) {
    padding: 0 5rem;
  }
}
.bg-unavailable {
  background-color: $orange-100;
  color: $orange-700 !important;
}

.bg-available {
  background-color: $blue-100;
  color: $blue-700 !important;
}
.bg-new {
  background-color: $red-100;
  color: $red-700 !important;
}

.no-sub::after {
  display: none;
}

/*rtl:end:ignore*/