/*
  * This file should first be compiled to css and then
    be processed by `rtl-css` package to become right-to-left
*/

// Import this file to customize bootstrap colors
@import "font-faces";

// Variables
@import "variables";

// Swiper framework
@import "../node_modules/swiper/swiper";

// Bootstrap framework
@import "../node_modules/bootstrap/scss/bootstrap";


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*rtl:begin:ignore*/
// This comment is very IMPORTANT. This tell the 'rtl-css' to ignore this lines
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

// React image gallery framework
@import "../node_modules/react-image-gallery/styles/scss/image-gallery";


/*----------------------- React image gallery framework  --------------------------*/

.image-gallery.fullscreen-modal {
  top: 60px !important;
  height: calc(100vh - 60px);
}

.image-gallery-content {
  .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 170px) !important;
  }

  &.left,
  &.right {
    .image-gallery-slide .image-gallery-image {
      max-height: calc(100vh - 60px) !important;
    }
  }
}

/*----------------------- nprogress progress bar  --------------------------*/
#nprogress .bar {
  background: #198754 !important;
  height: 5px !important;
  left: unset !important;
  right: 0 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #198754, 0 0 5px #198754 !important;

}

/*----------------------- Swiper  --------------------------*/
/*.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 3rem !important;
}*/

/*----------------------- Body --------------------------*/

body {
  background-color: $green-light !important;
}

/*----------------------- Colored shadows to match the theme color --------------------------*/
.shadow {
  box-shadow: 0 0.5rem 1rem rgba($green-900, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba($green-900, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba($green-900, 0.175) !important;
}

/*----------------------- Custom utility classes --------------------------*/


.font-silicon{
  font-family: silicon, vazir, serif !important;
}
.fasBadge {
  padding: .15rem;
  top: -10px !important;
  right: 5px;
  z-index: 10;
}

.icon-container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-inline-end: .5rem;
}

.container-custom {
  @include media-breakpoint-up(xxl) {
    padding: 0 5rem;
  }
}

.bg-unavailable {
  background-color: $orange-100;
  color: $orange-700 !important;
}

.bg-available {
  background-color: $blue-100;
  color: $blue-700 !important;
}

.bg-new {
  background-color: $red-100;
  color: $red-700 !important;
}

.no-sub::after {
  display: none;
}

/*rtl:end:ignore*/