// Colors
$primary: #198754; // For bootstrap
$green-light: #f2f6f6; //For color of the body
$themeColor: $primary !important; // For Swiper
$ig-blue: $primary !important; // For image gallery

// Dimensions
$navbar-height: 70px;